body,
html {
  margin: 0;
  padding: 5px;
}
body {
  max-width: 750px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.title {
  border-bottom: 2px solid #ed706c;
}
.title h1 {
  font-weight: 300;
  margin: 0;
}
.description {
  line-height: 1.5;
  padding: 0 10px;
}
.rules {
  padding: 0;
  list-style-type: none;
}
.rules li {
  position: relative;
  min-height: 42px;
  padding: 10px 0;
  line-height: 1.5;
  overflow: auto;
}
.rules li.selected {
  background-color: #f8e287;
}
.rules li .index {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ed706c;
  color: #fff;
  padding: 6px 12px;
  display: inline-block;
  min-width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
}
.rules li .content {
  float: left;
  padding-left: 66px;
  margin-top: 9px;
}
.rules hr {
  height: 1px;
  width: 100%;
  background-color: #fbdbda;
  border: 0;
  margin: 0;
  padding: 0;
}
.logo.header {
  width: 200px;
  height: auto;
}
