// out: main.css

// Variables
$open-sans = 'Open Sans', sans-serif
$ptp-red = #ED706C
$circle-width = 48px

body, html
  margin 0
  padding 5px

body
  max-width 750px
  line-height 1.5
  margin auto
  font-family $open-sans

.title
  border-bottom 2px solid $ptp-red
  display flex
  justify-content space-between
  align-items center

  h1
    font-weight 300
    margin 0

  .join
    display inline-block
    background-color $ptp-red
    width 200px
    height 90px
    color #fff
    text-decoration none
    text-align center
    box-sizing border-box
    padding-top 25px

    small
      display block
      font-size 12px
      margin 0

.container
  padding 0 16px

ol.rules
  padding 0
  counter-reset li // resets counter

  li
    height $circle-width
    position relative
    list-style none
    line-height @height
    padding 8px
    padding-left $circle-width + 8px
    border-bottom solid 2px rgba($ptp-red, 50%)

    &:last-child
      border unset

    &::before
      content counter(li) // displays counter
      counter-increment li // increments counter
      display block
      width $circle-width
      height $circle-width
      border-radius 50%
      background-color $ptp-red
      position absolute
      left 0
      text-align center
      line-height @height
      color #fff

    &.selected
      background-color lighten(#f1c40f, 50%)

  hr
    height 1px
    width 100%
    background-color lighten($ptp-red, 75%)
    border 0
    margin 0
    padding 0

.logo
  display inline-block

  &.header
    width 200px
    height auto
